{% extends "base.html" %}

{% block content %}

    {# This is the long way #}
    {% if page.cta_url or page.cta_external_url %}
        {% if page.cta_url %}
            <a href="{{ page.cta_url.url }}">
                {{ page.cta_url.title }}
            </a>
        {% else %}
            <a href="{{ page.cta_external_url }}">
                Some website
            </a>
        {% endif %}
    {% endif %}

    {# This is the short way using a custom @property #}
    {% if page.get_cta_url %}
        {{ page.get_cta_url }}
    {% endif %}

    {# How to loop through an Orderable/InlinePanel #}
    {% for orderable_object in page.gallery_images.all %}
        {{ orderable_object.image }}<br>
    {% endfor %}

{% endblock content %}
