{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content %}

    {% comment %}
        {% routablepageurl page "all" %} This goes to /blog/all/
        {% routablepageurl page "tag" tag="cats" %} This goes to /blog/tag/cats/
    {% endcomment %}

    <a href='{% routablepageurl page "tag" tag="cats" %}'>
        View blog posts filtered by Cat
    </a>

    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>

    <h4>Body is below:</h4>
    {{ page.body|richtext }}

    <hr>
    <hr>
    <hr>

    <h4>Blog posts are below</h4>
    {% for blog_post in blogpages %}
        <a href="{{ blog_post.url }}">
            {{ blog_post.title }}
        </a>
        <p>{{ blog_post.subtitle }}</p>
        <hr>
    {% endfor %}

{% endblock %}
