{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


    {% for block in page.body %}
        {% comment %}
            {% if block.block_type == 'text' %}
                {{ block.value }}
            {% elif block.block_type == 'image' %}
                {% image block.value fill-800x400 %}
            {% elif block.block_type == 'carousel' %}

            {% for slide in block.value %}
                    {% if slide.block_type == 'image' %}
                        {% image slide.value fill-800x400 %}
                    {% elif slide.block_type == 'quotation' %}
                        <p>
                            {{ slide.value.text }}<br>
                            <strong>
                                &mdash; {{ slide.value.author }}
                            </strong>
                        </p>
                    {% endif %}
            {% endfor %}

            {% endif %}
        {% endcomment %}


        {% if block.block_type == 'image' %}
            {% image block.value fill-300x300 %}
        {% elif block.block_type == 'doc' %}
            {{ block.value.url }}
        {% elif block.block_type == 'page' %}
            <a href="{{ block.value.url }}">
                {{ block.value.title }}
            </a>
        {% elif block.block_type == 'author' %}
            {{ block.value.bio }}
        {% elif block.block_type == 'call_to_action_1' %}
            <div>
                <div class="rich-text">{{ block.value.text|richtext }}</div>
                <a href="{{ block.value.page.url }}" class="button">
                    {% if block.value.button_text %}
                        {{ block.value.button_text}}
                    {% else %}
                        {{ block.value.page.title }}
                    {% endif %}
                </a>
            </div>
        {% endif %}


    {% endfor %}


{% endblock %}
