{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


    {% for block in page.body %}
        {% if block.block_type == 'text' %}
            {{ block.value }}
        {% elif block.block_type == 'image' %}
            {% image block.value fill-800x400 %}
        {% elif block.block_type == 'carousel' %}

           {% for slide in block.value %}
                {% if slide.block_type == 'image' %}
                    {% image slide.value fill-800x400 %}
                {% elif slide.block_type == 'quotation' %}
                    <p>
                        {{ slide.value.text }}<br>
                        <strong>
                            &mdash; {{ slide.value.author }}
                        </strong>
                    </p>
                {% endif %}
           {% endfor %}

        {% endif %}
    {% endfor %}


{% endblock %}
