{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>

<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Search" class="button">
</form>

{% get_search_promotions search_query as search_promotions %}
<h1>Promoted Search results are below</h1>


{% for search_promotion in search_promotions %}
<ul>
    {% if search_promotion.page %}
        <li>
            <a href="{% pageurl search_promotion.page %}">
                <h2>{{ search_promotion.page.title }}</h2>
                <p>{{ search_promotion.description }}</p>
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ search_promotion.external_link_url }}">
                <h2>{{ search_promotion.external_link_text }}</h2>
                <p>{{ search_promotion.description }}</p>
            </a>
        </li>
    {% endif %}
</ul>
{% endfor %}



<h1>Normal search results are below</h1>
{% if search_results %}
<ul>
    {% for result in search_results %}
    <li>
        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% elif search_query %}
No results found
{% endif %}
{% endblock %}
